/*There is a left and right margin of 4 rem for most content on this page*/




div.content ol li{
  text-align: right;
  cursor: pointer;
}
div.content ol li:hover{
  border-bottom: 2px solid #906060;
}
button{
  display: block; 
  width:90%;
  letter-spacing: 0.3em;
}
.quote{
  color: gray; 
  font-style: italic;
  font-size: 0.8em;
  line-height: 0.2em;
}




.card{
  border-radius: 3pt;
  margin:10px;
  text-align: left;
  padding:10px;
  border:1px solid #7a7575;
 
  box-shadow:2px 2px 2px black;
 
}
.details{
  color: gray;
}

.FeaturedNewslettersParentDiv{
  display: flex;

  margin-left: 4em;
  margin-right: 4em;

}