html {
  height: 100%;
  width: 100%;
}

.TTHeader{
  background: #efebeb;
  border-bottom: 1px solid #fffafa;
  padding: 8px 15px 3px;
  position: relative;
  text-align: center;
}
.h1{
  font-size: 40pt;
  font-weight: bolder;
}




html {
  height: 100%;
  width: 100%;
}


/*MANSORY LAYOUT*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boxes-con{ /*This is the parent div*/
  border-top: 0.7px solid black;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 70pt;
  margin-right: 70pt;
  /*  flex-wrap: wrap;*/
}
.column{
  flex:1;
  margin: 0.5em;
}

.boxes {
  margin: 10px auto;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
 /* height: 10rem; */
  background: #c3d4e5;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 200ms ease-in-out;
}
.boxes:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.boxes div{
  margin: auto;
  display:flex;
  flex-direction: column;
}
.boxes div div{
  flex:1;
}
.boxes div div img{
   width:100%; 
   height:auto;
}





/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.NCSection{
  border-top: 0.7px solid black;

  margin: 40pt 50pt 70pt 70pt;
}
.NCH1{
  margin-top: 40pt;
  margin-bottom: 15pt;
  font-size: 24pt;
}
button{
  margin: 5pt;
  font-size: 10pt;
}
























