html {
  height: 100%;
  width: 100%;
}

.TTHeader{
  background: #efebeb;
  border-bottom: 1px solid #fffafa;
  padding: 8px 15px 3px;
  position: relative;
  text-align: center;
}
.h1{
  font-size: 40pt;
  font-weight: bolder;
}




/* MASONRY LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* This styling applies after the javascript */
.boxes-con{ /*This is the parent div*/
  border-top: 0.7px solid black;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-left: 70pt;
  margin-right: 70pt;
}
.boxes {
  margin: 10px auto;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
 /* height: 10rem; */
  background: #c3d4e5;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}
.box2 .boxes:nth-child(2n) {
  /* browser assigns pre-existing classes, pesudo, pretend classes, class:nth-child(2), selects the second child in the element, class, in the parent class, box2*/
  width: 100%;
  /*height: 15rem;*/
  background: #ac8b8f;
}
.box1 .boxes:nth-child(odd) {
  /* index of first child is 1, all the odd children with the class boxes in the parent class box1 are orange for ex */
  background: #ff9494;
 /* height: 14rem;*/
  width: 100%;
}
.box3 .boxes:nth-child(odd) {
  /* all the odd children with the class .boxes in the parent class box3 are violet */
background: #8885b7;
  /*height: 17rem;*/
  width: 100%;
}
.boxes div{
  margin: auto;
  display:flex;
  flex-direction: column;
}
.boxes div div{
  flex:1;
}
.boxes div div img{
   width:100%; 
   height:auto;
}

.sub {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1px 10px;
}

#load {
  background-color: #2b2c2a;
  color: #ffffff;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display:flex;
  max-width: 12%;

  margin: auto;
  width: 50%;/*centers the button*/

}

.NCSection{
  border-top: 0.7px solid black;

  margin: 40pt 50pt 70pt 70pt;
}
.NCH1{
  margin-top: 40pt;
  margin-bottom: 15pt;
  font-size: 24pt;
}
button{
  margin: 5pt;
  font-size: 10pt;
}
























