
@font-face {
  font-family: 'Tex Gyre Pagella';
  src:    url('tex-gyre-pagella.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tex Gyre Pagella';
  src: url('fonts/texgyrepagella-bold.woff2') format('woff2'),
       url('fonts/texgyrepagella-bold.woff') format('woff'),
       url('fonts/texgyrepagella-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-image:url(grainyBG.jpg);
  background-repeat:repeat;
  background-size: 10%;
  font-family: 'Tex Gyre Pagella', serif;;
  overflow-y:none;
  /*
  #8a3d96
  #803b8b
  #5946b5
  purple 


  #004aad
  */
}




.centered{
  text-align: center;
}
a{
  text-decoration: none;
}

.TTSubPagesHeader{
  color:white;
  background-color: #632e6b  /*#803b8b*/ /*#efebeb*/;
  
  padding: 8px 15px 3px !important;
  position: relative;
  text-align: left;

}
ol{
padding:0pt
} 

/*NAV BAR -> START*/
ul {
  list-style-type: none; /*list styling none erases dashes/dots/ styling in front list item*/
  margin-top: 30pt;
  padding: 0;
  display: table; /*Display table allows element to display as a table, allowing inside elements to mimick table rolls and cells thus the equal spacing between elements (a href)*/
  width: 100%;
  list-style: none;
  text-align: center;
}
li{
  display: table-cell;
  text-align: center;
  
}
li a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}

.txtBoxContainer{
  position: relative;
  text-align: center;
}

.centeredTxT {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

/*EXPLORE nav bar styling*/
.dropdownChoices{
  display:inline-block;
  color: white;
  
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  border-bottom: 2px solid #5946b5; /* #906060*/
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
  display: block;
}




/*FOOTER STYLING*/
footer{
  margin-top: 10em;
  width: 100%;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
 
  background-color: #803b8b ; /*#f1f8f8; */
  color: white /*rgb(58, 46, 46);*/ ;
  border-top: 1px solid  #632e6b ;
}
.LatestNewsletterParentDiv{
  display:flex;flex-direction:row;
  margin: 10pt;
}
.LNRightChildDiv{
flex:1;display:block;
  padding-left: 15pt;
}
.LNImg{
  height:4.5rem;
  border-radius: 3pt;
}
ol{
  margin-top: 15pt;
}
ol li{
  display:block;
  padding: 0.5em;
  text-align: left;
}





